<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PTE Speaking Video</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>PTE Speaking Video</h1>
    </header>

    <div class="container">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/kq4BPvzOwhY" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="btn" href="/">Back to Home</a>
    </div>

    <footer>© 2025 PTE Study Hub</footer>
</body>
</html>
