<!DOCTYPE html>
<html>
<head>
  <title>PTE Articles</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>PTE Articles</h1>
  <div class="container">
    <ul>
      <li><a href="/post">How to Score 65+ in PTE</a></li>
      <li><a href="/post">Top Tips for PTE Reading</a></li>
      <li><a href="/post">Improve PTE Speaking Fast</a></li>
    </ul>
    <a href="/">Back to Home</a>
  </div>
  <footer>© 2025 PTE Study Hub</footer>
</body>
</html>
